# Fully rewritten for Linux target

{
  "CompileFlags": {
    "Add": [
      "-std=gnu17",
      "-funsigned-char",
      "-DLINUX",
      "-DFNFLOAT",
      "-DCK_POSIX_SIG",
      "-DCK_NEWTERM",
      "-DTCPSOCKET",
      "-DLINUXFSSTND",
      "-DNOCOTFMC",
      "-DPOSIX",
      "-DUSE_STRERROR",
    ]
  },
  "Index": {
    "Background": "Build"
  },
  "Completion": {
    "AllScopes": true
  }
}
